

$primary: #07889B ;
$secondary: #E37222;
$info:#52B788;
$grey-color: #f5f5f5;
$white: #ffffff;
$black: #000000;
$text-color: #58595b;
$border-color: #e3e3e3;
$light-grey:#eee;
$red: #fa7171;
$dark-grey: #999999;


$greyBackground: $white;
$headerBackground: $primary;
$tableHeaderColor: $text-color;
$required: $red;
$sidebarLinkColor: $dark-grey;